@model Product

<h1>@Model.Name - Məlumatları</h1>
<p><strong>Müəllif:</strong> @Model.Author</p>
<p><strong>Təsvir:</strong> @Model.Description</p>
<p><strong>Qiymət:</strong> @Model.Price AZN</p>
<p><strong>Köhnə Qiymət:</strong> @Model.ExPrice AZN</p>
<p><strong>Endirim:</strong> @Model.Discount%</p>
<img src="~/admin/img/@Model.Image" width="200" />